---
---

@import "bootstrap";

.navbar {
	padding-top: 15px;
	border-radius: 0;
	margin-bottom: 0;
	letter-spacing: 3px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.pie{
	background-color: #2f2f2f;
	color: #ffffff;
}

.container-fluid{
	padding-top: 10px;
	padding-bottom: 10px;
	
}

body {
    font:  "Montserrat", sans-serif;
    line-height: 1.8;
    
}

p {font-size: 16px;}

