<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
{% include head.html %}
  <body >
    {% include header.html %}    
    
    <!-- MAIN CONTENT -->
    <div class="container-fluid">
      <section id="inicio0"class=" container-fluid text-center">
        <h1> Bienvenido / Welcome</h1>
      </section>
      <section id="inicio1" class="container text-center" >
      <p><b>Visitame en GitHub / Visit me on GitHub</b></p>
      <a href="https://github.com/JoGusTor"><img  src="/assets/images/blacktocat.png" alt="GitHub"></a>
      </section>
    </div>

    {% include footer.html %}    

  </body>
</html>
