<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
{% include head.html %}
  <body >
    {% include header.html %}    
    
    <!-- MAIN CONTENT -->
    <div class="container-fluid">
      <section id="inicio0"class=" container-fluid text-center">
        <h1> Bienvenido / Welcome</h1>
      </section>
      <section id="inicio1" class="container text-center" >
      <p><b>Visitame en GitHub / Visit me on GitHub</b></p>
      <a href="https://github.com/JoGusTor"><img  src="/assets/images/blacktocat.png" alt="GitHub"></a>
      </section>

      <section id="actualizaciones" class="container" >
      <p><b>Actualizaciones.</b></p>
      <div class="jumbotron">
      <p><u>Nuevo contenido en el libro "Penumbra": </u></p>
      <br>
      <p>Pues la historia ya avanza, me ha costado trabajo retomarla y generar nuevas ideas, pero la inspiración llegó, si tienes algún comentario me gustaría mucho saberlo, puedes dejarlo en la sección llamada <i>acerca</i>, que se encuentra en el menú de arriba. Tome la decisión de no permitir comentarios en la seccion
      del libro para facilitar la lectura, pero si piensas que seria mejor poner comentarios allí, hazmelo saber.
      Adivinanza: ¿En quien están inspirados el duque Tomás y su hija Anne? Si sabes la respuesta ponlo en la sección <i>acerca</i>. Saludos y gracias por tomarte el tiempo de leer mi blog, espero disfrutes la lectura.
      </p>
      </div>
      
      </section>
    </div>

    {% include footer.html %}    

  </body>
</html>
